{% extends 'base.html' %}
{% block title%}
    Patient Register
{% endblock%}

{% block content%}
    
    <div class="container">
        
        <form method="POST" class="form-register" >
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">Enregistrer une Intervention</h1>
            <br>
            
            {{form.name.label()}}
            {{form.name(class="form-control",placeholder="Le type d'intervention",style="text-transform: capitalize;" )}}
            
            {{form.doctor.label()}}
            {{form.doctor(class="form-control",placeholder="Le nom du docteur",style="text-transform: capitalize;" )}}
            
            {{form.anesthesist.label()}}
            {{form.anesthesist(class="form-control",placeholder="le nom de l'anestesite",style="text-transform: capitalize;" )}}
            {{form.date.label()}}
            {{form.date(class="form-control",placeholder="ex:01/24/2022")}}
        
            
            <br>
            
            {{form.submit(class="btn  btn-block btn-primary")}}
        </form>

    </div>

{% endblock %}